.content { height: auto; min-height: 550px; padding-bottom: 40px;}

div.quotation .view-box input[type="text"] {width: 90%;}
div.quotation .view-box input[type="file"] {
	border: 1px solid #ccc;
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
	color: rgba(0,0,0,0.75);
	width: 50%;
	padding: 7px;
	color: rgba(0,0,0,0.75);;
}

div.quotation-entryeditor .add-row-container { padding: 20px 5px;}
div.quotation-entryeditor div table thead th { text-align: center; border-left: 4px solid #fff;}
div.quotation-entryeditor div table tbody td { text-align: left;}
div.quotation-entryeditor div table tbody tr.table-td-header td:first-child { font-weight: bold;}
div.quotation-entryeditor div table tbody tr.table-sub-header td:first-child { padding-left: 40px;}
div.quotation-entryeditor div table tbody tr.table-td-content td:first-child { padding-left: 60px;}
div.quotation-entryeditor button {padding: 6px 20px; color: #fff;}
div.quotation-entryeditor select {width: 43.1%; padding: 5px;}