.no-padding {
    padding-left: 0;
    padding-right: 0;
}

.content {
    height:100%;
}
.search-box-container {
    margin-top: 40px;
    background: #F9690E;
}

.search-box-container .medium-1, i {
    padding:10px 5px;
    color: #FFF;
}

.search-box {
    background: #F9690E !important;
    color: #FFF !important;
    border: none !important;
    border-bottom: 1px solid #FFF !important;
    
}

input.search-box {
    box-shadow: none;
margin-top: 15px;
}

.search-box:focus {
    box-shadow: none !important;
}

.create-new-container a {
    float:right;
    margin:50px 0 0 0;
}

.view-box {
    background: #FFF;
    padding: 0.9375rem;
    -webkit-box-shadow: 0px 3px 6px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 3px 6px rgba(0,0,0,0.3);
    -o-box-shadow: 0px 3px 6px rgba(0,0,0,0.3);
    box-shadow: 0px 3px 6px rgba(0,0,0,0.3);
}

.view-box table {
    margin: 0 auto;
    width:100%;
    border: 0; 
}

.view-header {
    background: #F9690E;
    padding:10px;
    margin-top: 30px;
    margin-bottom: 0;
    color: #FFF;
}

.view-box table thead th, .view-box table tbody td {
    text-align: center;
}

.view-box table tbody {
    text-align: center;
}
.view-box table tbody tr td a i{
    -webkit-transition: ease 0.2s;
    -moz-transition: ease 0.2s;
    -o-transition: ease 0.2s;
    transition: ease 0.2s;
}

.view-box table tbody tr td a i:hover {
    transform:scale(0.8);
}

.view-box table tbody tr td a i.fa-pencil, .view-box table tbody tr td a i.fa-eye {
    color: #d66214;
}

.view-box table tbody tr td a i.fa-trash {
    color: #dc4545;
}

.submit {
    margin-top: 30px;
}

.content {
    background: #f0f0f0;
}

a, h1, h2, h3, h4, h5, h6, input[type="text"],th, td, .button, label {
    font-family: "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.child-entry, .sub-header-entry{
    display:none;
}

div.quotation-container { height: 0; transition: 0.5; -webkit-transition: 0.5; -moz-transition: 0.5; overflow: hidden; }
div.dropdown {height: 100%;}
